@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0D1C43
;
}


body {
    background-color: #E7DDF9;
    font-family: montserrat, sans-serif;
    font-size: 15px;
    color: #737182;
;
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    width: 88%;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 32px 32px;
}

.pageTitle {
    margin-bottom: 24px;
}

.lineDivider {
    background-color: #CDCDCD;
    width: 100%;
    height: 2px;
    border-radius: 100px;
    margin-bottom: 32px;
}

.card__content {
    display: flex;
    flex-direction: column;
}

.card__illustration {
    display: block;
    width: 80%;
    max-width: 480px;
    align-self: center;
    margin-bottom: 32px;
}

.card__header {
    text-align: center;
    padding: 0 48px;
}

.card__title {
    margin-bottom: 12px;
}

@media (min-width: 744px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 38px;
    }

    .card {
        padding: 70px;
    }

    .card__content {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 36px;
    }

    .card__illustration {
        width: 50%;
        max-width: 480px;
    }

    .card__header {
        text-align: left;
        padding: unset;
    }
}